.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav{
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  
}

.mobileImage {
  width: 300px;      /* yaha size adjust karo */
  height: auto;      /* aspect ratio safe rahega */
}
.landingMainContainer > div:nth-child(1){

}